<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center text-primary-theme">All Subscribers</h3>
            <p>From here you can manage your Subscribers.</p>
            <button class="btn btn-warning ml-3" routerLink="/">Back To Dashboard</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No </th>
                <th>Name </th>
                <th>Email </th>
                <th>Actions </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let data of subscribers; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td> <!-- Subscriber-interface -->
                <td>{{ data.email }}</td> <!-- Subscriber-interface -->
                <td>
                  <button class="btn btn-sm btn-danger ml-3" (click)="onDelete(data.id)">DELETE</button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
