<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-primary-theme">{{ formStatus }} Categories</h3>
      <p class="text-center mb-5">You can add new categories from here...!</p>

      <!-- Form -->
      <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm.value)">
        <div class="mb-3 col-md-10">
          <input
            type="text" name="category"
            class="form-control shadow-effect"
            placeholder="Add New Categories"
            #newCategory = 'ngModel'
            [(ngModel)]="categoryName"
            required
            [ngClass]="{ 'is-invalid': newCategory.touched && newCategory.invalid }"
          >
          <!--- Alert message -->
          <div class="alert alert-danger" *ngIf="newCategory.touched && !categoryName">
            Category field is required
          </div>
        </div>
        <!-- Button with dynamic text (EDIT/ADD) -->
        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-theme mb-2" [disabled]="categoryForm.invalid">{{ formStatus }} CATEGORY</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <!-- Empty container -->
    <div class="col-md-3"></div>
    <!-- Show list of categories -->
    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let data of categoryList | async; let i = index '>
                <td>{{ i + 1 }}</td>
                <td>{{ data.category }}</td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="onEdit(data.category, data.id)">EDIT</button>
                  <button class="btn btn-sm btn-danger ml-3" (click)="onDelete(data.id)">DELETE</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div></div>
    </div>
  </div>
  <!-- Empty container -->
  <div class="col-md-3"></div>
</div>

